@model Project.DataBase.MvcWebUI.Models.ProductListViewModel
@{
    Layout = "~/Views/_Layout.cshtml";
}
<div class="form-control">
    <form class="form-inline">
        <input class="form-control mr-sm-2" asp-for="Search" placeholder="Search" aria-label="Search" id="search">
    </form>
</div>
<div class="row">

    @foreach (var product in Model.Products)
    {
        <div class="col-2 rounded">
            <p><img src="@product.ImageUrl" alt="My Image" width="200" height="200"></p>
            <p>@product.ProductName</p>
            <p>@product.UnitPrice ₺</p>
            <p>Stock:@product.UnitsInStock</p>
            <p><a class="btn btn-success btn-sm" asp-controller="Cart" asp-action="AddToCart" asp-route-productId="@product.ProductId">add to cart</a></p>
        </div>

    }
</div>
<product-list-pager current-category="@Model.CurrentCategory" current-page="@Model.CurrentPage" page-count="@Model.PageCount" page-size="@Model.PageSize">

</product-list-pager>
