@model Project.DataBase.MvcWebUI.Models.OrderDetailModel

@{
    Layout = "~/Views/_Default.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <table class="table table-responsive">
        <thead>
            <tr>
                <td>Products</td>
                <td>OrderDate</td>
                <td>RequiredDate</td>
                <td>CompanyName</td>
                <td>Total</td>
                <td>Action</td>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model.orderModels)
            {
                <tr>
                    <td>
                        @await Component.InvokeAsync("ProductDetail", new{userid=item.CustomerId,orderid=item.OrderId})
                    </td>
                    <td>
                        @item.OrderDate
                    </td>
                    <td>
                        @item.RequiredDate
                    </td>
                    <td>
                        @item.CompanyName
                    </td>
                    <td>
                        @item.Total
                    </td>
                    <td>
                        <a class="text-success" title="Done" asp-controller="Order" asp-action="Done" asp-route-orderId="@item.OrderId"><i class="bi bi-check-circle"></i></a>
                        <a class="text-danger" title="Cancel" asp-controller="Order" asp-action="Cancel" asp-route-orderId="@item.OrderId"><i class="bi bi-x-circle"></i></a>
                    </td>
                </tr>
            }

        </tbody>
    </table>
</body>
</html>
